html{
    scroll-behavior: smooth;
}

/* SECCION INICIO - fondo */
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url(https://cdn.pixabay.com/photo/2016/03/26/13/09/cup-of-coffee-1280537_1280.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.inicio .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.inicio .contenido-seccion header{
    padding: 30px;
}

/* MENU LATERAL */
.inicio .contenido-seccion header nav{
    position: fixed;
    margin-left: 60px;
    background-color: rgb(0, 128, 21);
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}
.inicio .contenido-seccion header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}
/* barra de navegacion-informacion de redes*/
.inicio .contenido-seccion header .nav-bar{
    position: fixed;
    background-color: aqua;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}
.inicio .contenido-seccion header .nav-bar:hover{
    box-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion .info{
    padding-bottom: 130px;
}
.inicio .contenido-seccion .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}
.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}
.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}
.inicio .contenido-seccion .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: chocolate;
    border: 1px solid red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}
.inicio .contenido-seccion .info .redes a:hover{
    color: #fff;
    background-color: rgb(255, 166, 0);
    box-shadow: 0 0 20px #fff;
}
.inicio .contenido-seccion .foto-charlie{
    position: relative;
}
.inicio .contenido-seccion .foto-charlie{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid red;
    position: absolute;
    left: 50%;
    top: 260px;
    transform: translateX(-50%);
}
.titulo-seccion{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: green;
    font-size: 30px;
  }
  

/* SECCION SOBRE MI*/
.sobremi{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.sobremi .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.sobremi .contenido-seccion .especial{
    color: forestgreen;
    font-weight: bold;
    margin-top: 15px;
}
.sobremi .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: #666;
}
.sobremi .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.sobremi .contenido-seccion .fila .col{
    width: 30%;
}
.sobremi .contenido-seccion .fila .col i{
    color: crimson;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid crimson;
    line-height: 40px;
    border-radius: 50%;
}
.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}

/* SECCION ESPECIALIDADES */
.especialidades{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url(https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}
.especialidades .contenido-seccion{
    max-width: 100%;
    margin: auto;
    padding: 0 10px;
}
.especialidades .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.especialidades .contenido-seccion .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.especialidades .contenido-seccion .fila .col{
    width: 47%;
    text-align: left;
}
.especialidades .contenido-seccion .fila .col .cont-barra{
    display: flex;
    align-items: center;
}
.especialidades .contenido-seccion .barra{
    display: flex;
    border: 1px solid red;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}
.especialidades .contenido-seccion .barra .e{
    background-color: black;
    width: 20px;
    height: 30px;
    margin-right: 2px;
}
/* SECCION RESUMEN */
.formacion{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.formacion .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.formacion .contenido-seccion h3{
text-transform: uppercase;
font-size: 30px;
}
.formacion .contenido-seccion .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.formacion .contenido-seccion .info .col{
    width: 45%;
}
.formacion .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: red;
    font-weight: bold;
    border: 2px solid red;
    padding: 10px;
}
.formacion .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.formacion .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid grey;
}
.formacion .contenido-seccion .info .col table h4{
    margin-top: 10px;
}
.formacion .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-top: 5px;
}
.formacion .contenido-seccion .info .col table p{
    font-size: 14px;
}
.formacion .contenido-seccion .info .col table .promedio{
    display: block;
    color: red;
    margin-top: 10px;
    font-weight: bold;
}
.formacion .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid gray;
    padding-left: 20%;
}

/* SECCION CONTACTO */
.contacto{
    background-color: rgb(19, 9, 9);
    padding: 140px 0 100px 0;
    color: white;
    text-align: center;
}
.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}
.contacto .contenido-seccion .fila .col h2{
    color: chocolate;
}

/* FULL RESPONSIVE */
@media screen and (max-width:800px){
    .especialidades .contenido-seccion .fila{
        display: block;
    }
    .especialidades .contenido-seccion .fila .col{
        width: 100%;
        text-align: center;
    }
    .especialidades .contenido-seccion .fila .col .cont-barra{
        justify-content: center;
    }
    .sobremi .contenido-seccion .fila{
        display: block;
    }
    .sobremi .contenido-seccion .fila .col{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .formacion .contenido-seccion .info{
        display: block;
    }
    .formacion .contenido-seccion .info .col{
        width: 90%;
        margin: auto;
    }
    .formacion .contenido-seccion .info .col .titulo{
        display: block;
        text-align: center;
    }
    .formacion .contenido-seccion .info .col table{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .contacto .contenido-seccion .fila{
        display: block;
    }
}

